/* Copy buttons */
button.copybtn {
  webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px;
}
pre.code:hover .copybtn, pre.code .copybtn:focus {
    opacity: .3;
}
pre.code .copybtn:hover {
    opacity: 1;
}
pre.code {
    position: relative;
}
